*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

header {
    background: black;
    height: 80px;
    position: fixed;
    width: 100%;
}

.cabecalho h1 {
    font-size: 30px;
    color: dodgerblue;
    height: 10px;
    display: flex;
    margin-right: 50px;
    padding: 20px 0 0 30px;
}

.info {
    margin-left: 83rem;
    word-spacing: 3.5rem;
}

.info .espaco{
    word-spacing: 0;
}

.info a {
    color: rgb(243, 243, 243);
    font-size: 21px;
    text-decoration: none;
}

.inicio h1.mensagem-inicial {
    color: royalblue;
    font-size: 50px;
}

.inicio {
    padding: 20rem 0 420px 2.5rem;
    background: url('../img/carteira-de-trabalho-digital.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.inicio h1 {
    font-size: 40px;
    color: black;
}

.sobre {
    background-color: royalblue;
    padding: 4rem 4rem 6rem 4rem;
}

.sobre h1 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4rem;
    color: white;
}

.sobre p {
    font-size: 1.7rem;
    color: white;
}

.como-funciona {
    background-color: white;
    padding: 4rem 4rem 6rem 4rem;
}

.como-funciona h1 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4rem;
    color: royalblue;
}

.como-funciona a{
    text-decoration: none;
    color: crimson;
}

.como-funciona p {
    font-size: 1.7rem;
    color: royalblue;
}

.documentos {
    background-color: royalblue;
    padding: 4rem 4rem 6rem 4rem;
}

.documentos h1 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4rem;
    color: white;
}

.documentos li {
    font-size: 1.7rem;
    color: white;
}

.vantagem {
    background-color: white;
    padding: 4rem 4rem 6rem 4rem;
}

.vantagem h1 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4rem;
    color: royalblue;
}

.vantagem h2{
    color: royalblue;
}

.vantagem li {
    font-size: 1.7rem;
    color: royalblue;
}

.passo-a-passo{
    background-color: royalblue;
    padding: 4rem 4rem 6rem 4rem;
}

.passo-a-passo h1{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4rem;
    color: white;
}

.passo-a-passo h2{
    color: white;
}

.passo-a-passo a {
    color: red;
    text-decoration: none;
}

.passo-a-passo p {
    font-size: 1.7rem;
    color: white;
    padding-bottom: 30px;
}

.contato {
    padding: 2rem 2rem 4.4rem 2rem;
    background: linear-gradient(62deg, rgb(58, 61, 64) 0%, rgb(24, 23, 25) 100%);
}

.contato h1 {
    text-align: center;
    padding-bottom: 2rem;
    color: white;
    font-size: 3rem;
}

.contato a {
    color: blueviolet;
    font-size: 2rem;
    text-decoration: none;
}

.contato .ref {
    word-spacing: 50px; 
    margin-left: 680px;
    padding-top: 50px;
}

.linha{
    padding: 4px;
    background-color: crimson;
}

.final{
    text-align: center;
    padding: 50px;
    background: linear-gradient(62deg, rgb(58, 61, 64) 0%, rgb(24, 23, 25) 100%);
    color: blueviolet;
    font-size: 30px;
}